.menu{
    background-color: rgb(0, 112, 94);
    color: white;
    height: 50px;
}

.space{
    padding-top: 8px;
}
.divA{
    font-size: 20px;
    min-height: 160px;
    background-color:rgb(237, 253, 177)
}

.divB{
    font-size: 20px;
    min-height: 160px;
    background-color:rgb(200, 223, 116)
}

.divC{
    font-size: 20px;
    min-height: 160px;
    background-color:rgb(200, 235, 77)
}

.divD{
    font-size: 20px;
    min-height: 160px;
    background-color:rgb(248, 220, 141)
}

.divE{
    font-size: 20px;
    min-height: 160px;
    background-color:rgb(207, 184, 119)
}

.divF{
    font-size: 20px;
    min-height: 160px;
    background-color:rgb(209, 174, 79)
}

.divG{
    font-size: 20px;
    min-height: 160px;
    background-color:yellow
}

.divH{
    font-size: 20px;
    min-height: 160px;
    background-color:skyblue
}

.divI{
    font-size: 20px;
    min-height: 160px;
    background-color:pink
}

.divJ{
    font-size: 20px;
    min-height: 160px;
    background-color:green
}

.divK{
    font-size: 20px;
    min-height: 160px;
    background-color:black
}